<html>
    <head>
        <title><%=title%></title>
        
    </head>
    <body>
        
        <h1><%=title%></h1>
        <H1>Welcome to profile Page</H1>
        <p>Name:<%= user.name %></p>
        <p>Email:<%= user.email %></p>
    </body>
</html>