<h1>Sign In</h1>
<form action="/profile/session" method="post">
    <input type="email" placeholder="Username" required />
    <input type="password" placeholder="Password" required />
    <button>Submit</button>
</form>